<div class="container">
  <div class="task container" *ngIf="task; else loading">
    <div class="row justify-content-between align-items-center">
      <h2>{{task.title}}</h2>
      <strong>Идентификатор в БД: {{task.id}}</strong>
    </div>
    <div class="info row justify-content-between">
      <small class="status col-4 text-left">Статус: {{task.status}}</small>
      <strong class="priority col-4 text-center">Приоритет: {{task.priority}}</strong>
      <p class="time col-4 text-right"><span class="intend"><small>Запланированное время:</small> {{task.intend}}<br></span><span
        class="consume"><small>Затраченное время: </small>{{task.consume}}</span>
      </p>
    </div>
    <quill-view-html
      [content]="task.description"
    ></quill-view-html>
    <div class="row justify-content-end">
      <strong>Время создания: {{task.created | date: 'short':null:'ru'}}</strong>
    </div>
    <div class="control row justify-content-end">
      <button class="btn btn-primary">Изменить</button>
      <button class="btn btn-light">Удалить</button>
    </div>
  </div>
</div>
<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
