<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
      class="form-control"
    >
      <label for="title">Имя задачи:</label>
      <input id="title" type="text" formControlName="title">
      <div
        *ngIf="form.get('title').touched && form.get('title').invalid"
        class="validation"
      >
        <small *ngIf="form.get('title').errors.required">
          Поле не должно быть пустым
        </small>
      </div>
    </div>
    <div class="form-control">
      <label for="description">Описание:</label>
      <quill-editor id="description" formControlName="description"></quill-editor>
    </div>
    <div
      [ngClass]="{invalid: form.get('intend').touched && form.get('intend').invalid}"
      class="form-control"
    >
      <label for="intend">Ожидаемые затраты времени (часов)</label>
      <input id="intend" type="text" formControlName="intend">
      <div
        *ngIf="form.get('intend').touched && form.get('intend').invalid"
        class="validation"
      >
        <small *ngIf="form.get('intend').errors.required">
          Поле не должно быть пустым
        </small>
      </div>
    </div>
    <div class="form-control">
      <button
        [disabled]="form.invalid || submitted"
        class="btn btn-primary"
        type="submit"
      >Сохранить</button>

    </div>

  </form>
</div>

<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
