<div class="container" *ngIf="tasks$ | async as tasks; else loading">
  <app-task
    *ngFor="let task of tasks"
    [task]="task"
  ></app-task>
</div>

<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
