<app-alert></app-alert>
<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/">Task Tracker</a>
  </h1>
  <ul *ngIf="auth.isAuthenticated()">
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'brief']">Кратко</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'extended', id]">Подробно</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'kanban']">Kanban</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'create']">Создать</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
