<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в task tracker</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>

  <div class="alert alert-light" *ngIf="message">
    {{message}}
  </div>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Поле не должно быть пустым
      </small>
      <small *ngIf="form.get('email').errors.email">
        Некорректный email
      </small>
    </div>
  </div>
  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control"
  >
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        Поле не должно быть пустым
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Не меннее {{form.get('password').errors.minlength.requiredLength}} символов.
        Сейчас {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>
  <button
    [disabled]="form.invalid || submitted"
    class="btn btn-primary"
    type="submit"
  >Войти</button>
</form>
