<div *ngIf="tasks.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="Найти задачу..." [(ngModel)]="searchStr"/>
  </div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>№ п/п</th>
    <th>Название</th>
    <th>Исполнитель</th>
    <th>Статус</th>
    <th>Приоритет</th>
    <th>Дата создания</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks | searchTask:searchStr; let idx = index">
    <td>{{ idx }}</td>
    <td>{{ task.title }}</td>
    <td>{{ task.executor ? task.executor : 'Не назначен'}}</td>
    <td>{{ task.status}}</td>
    <td>{{ task.priority ? task.priority : 'Не установлен'}}</td>
    <td>{{ task.created | date: 'short':null:'ru'}}</td>
    <td>
      <button
      class="btn btn-link"
      [routerLink]="['/user', 'edit', task.id]"
      >Open</button>
      <a (click)="remove(task.id)">Finish</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
