<form action="" [formGroup]="form" (ngSubmit)="submit()">

  <h1>Создать задачу</h1>

  <div
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    class="form-control"
  >
    <label for="title">Имя задачи:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Поле не должно быть пустым
      </small>
    </div>
  </div>
  <div class="form-control">
    <label for="description">Описание:</label>
    <quill-editor id="description" formControlName="description"></quill-editor>
  </div>
  <div
    [ngClass]="{invalid: form.get('intend').touched && form.get('intend').invalid}"
    class="form-control input-number"
  >
    <label for="intend">План (часов):</label>
    <input id="intend" type="text" formControlName="intend">
    <div
      *ngIf="form.get('intend').touched && form.get('intend').invalid"
      class="validation"
    >
      <small *ngIf="form.get('intend').errors.required">
        Поле не должно быть пустым
      </small>
    </div>
  </div>
  <div
    [ngClass]="{invalid: form.get('priority').touched && form.get('priority').invalid}"
    class="form-control input-number"
  >
    <label for="priority">План (часов):</label>
    <input id="priority" type="text" formControlName="priority">
    <div
      *ngIf="form.get('priority').touched && form.get('priority').invalid"
      class="validation"
    >
      <small *ngIf="form.get('priority').errors.required">
        Поле не должно быть пустым
      </small>
    </div>
  </div>
  <div
    [ngClass]="{invalid: form.get('executor').touched && form.get('executor').invalid}"
    class="form-control"
  >
    <label for="executor">План (часов):</label>
    <select id="executor" formControlName="executor">
      <option
        *ngFor="let executor of executors"
        value="executor.email"
      >
        {{executor.username}}
      </option>
    </select>
    <div
      *ngIf="form.get('executor').touched && form.get('executor').invalid"
      class="validation"
    >
      <small *ngIf="form.get('executor').errors.required">
        Поле не должно быть пустым
      </small>
    </div>
  </div>
  <div class="form-control">
    <button
      [disabled]="form.invalid || submitted"
      class="btn btn-primary"
      type="submit"
    >Создать
    </button>

  </div>
</form>
